.card {
  border: 1px solid #015a3c;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 35%);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #000;

  display: block;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

.title {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 19, 8, 0.87);
  color: var(--color-text-light);
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 8px;
  z-index: 3;
  pointer-events: none;
}

.tag {
  background-color: var(--color-bottle-green-light);
  color: var(--color-text-light);
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  white-space: nowrap;
}
