.headerWrap {
  position: relative;
  isolation: isolate;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  margin: 20px 0 40px 0;
  align-items: flex-start;
}

.headerWrapReversed {
  align-items: flex-end;
}

@media (--bp-md) {
  .headerWrap {
    margin: 20px 0;
  }
}

.productHeader {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

@media (--bp-md) {
  .productHeader {
    font-size: 2rem;
  }
}

.productHeaderSubtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: #326647;
}

.productHeaderSubtitleBlackBackground {
  color: #006400;
}

.productHeaderLight {
  color: var(--color-text-light);
}

@media (--bp-lg) {
  .productHeaderSubtitle {
    font-size: 1.4rem;
  }
}
