.filterContainer {
  padding: 3.2rem 1.6rem 1.6rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--color-border);
}

.filterContainer :global(.react-select-container) {
  min-width: 380px;
  z-index: 5;
}

@media (--bp-sm) {
  .filterContainer {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .filterContainer :global(.react-select-container) {
    width: 100%;
    min-width: unset;
  }
}

.filterCounter {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: auto;
  font-weight: 500;
  font-size: 1.4rem;
  align-self: end;
  color: var(--color-text);
}

@media (--bp-sm) {
  .filterCounter {
    font-size: 1.2rem;
    margin: 0;
    justify-content: start;
  }
}

.realizationsContainer {
  padding: var(--space-lg) var(--space-sm);
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  align-items: stretch;
  justify-items: center;
}

@media (min-width: 768px) {
  .realizationsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .realizationsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.singleRealizationContainer {
  height: 350px;
  width: 100%;
  max-width: 420px;
  background-color: var(--color-background-alt);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 6px;
}

@media (--bp-sm) {
  .singleRealizationContainer {
    max-width: 100%;
  }
}

.realizationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.realizationImage:hover {
  transform: scale(1.06);
  cursor: pointer;
}

@media (--bp-sm) {
  .realizationImage {
    transform: scale(1);
  }
  .realizationImage:hover {
    transform: scale(1);
  }
  .realizationImageActive {
    transform: scale(1.06);
  }
}

.realizationTags {
  position: relative;
  border-radius: 0px 0px 6px 6px;
  bottom: 30px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background-color: rgba(1, 39, 18, 0.842);
  padding: 5px 10px;
}

.tag {
  color: #fff;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.342);
  padding: 3px 8px;
  border-radius: 12px;
  white-space: nowrap;
  font-weight: 500;
  text-transform: capitalize;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.paginate li {
  display: inline-flex;
}

.paginate a {
  text-align: center;
  border-radius: 50%;

  width: 28px;
  height: 28px;
  color: #212529;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.paginate li.selected a {
  background-color: #003f1b;
  color: var(--color-text-light);
}

.paginate li.disabled a {
  opacity: 0.5;
  cursor: default;
  border-color: #1e1e1e94;
}

.paginate li.disabled a:hover {
  background-color: transparent;
  color: var(--color-text);
}

.paginate a:hover {
  background-color: #003f1b;
  color: var(--color-text-light);
}
