.partnersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-lg);
  align-items: center;
  justify-items: center;
  margin-bottom: var(--space-xl);
  margin-top: var(--space-lg);
}

@media (--bp-md) {
  .partnersGrid {
    display: none;
  }
}

/* Kontener dla Swiper na mobile */
.mobileSwiper {
  display: none;
  margin-bottom: var(--space-lg);
}

@media (--bp-md) {
  .mobileSwiper {
    display: block;
    width: 100%;
    padding: var(--space-sm) 0;
  }

  .mobileSwiper :global(.swiper) {
    width: 100%;
    height: auto;
    overflow: visible;
  }

  .mobileSwiper :global(.swiper-slide) {
    width: auto !important;
    height: auto;
  }
}

/* Kontener dla pojedynczego partnera - desktop */
.partnerItem {
  display: block;
  width: 100%;
  max-width: 280px;
  height: 200px;
  padding: var(--space-lg);
  background-color: #fff;

  transition: all 0.35s ease;

  cursor: pointer;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgb(0 0 0 / 14%) 0px 2px 18px 0px;
  border: 1px solid #003d2988;
  border-radius: 4px;
}

.partnerItem:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 28px -8px rgba(0, 0, 0, 0.215);
  border-color: rgba(2, 92, 17, 0.686);
}

.partnerItem:active {
  transform: translateY(-4px);
}

/* Kontener dla mobilnej wersji partnera */
.mobilePartnerItem {
  display: block;
  width: 220px;
  height: 140px;
  border: 1px solid #003d2988;
  border-radius: 4px;
  padding: var(--space-sm);
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  flex-shrink: 0;
  transition: all 0.35s ease;
  margin-right: var(--space-sm);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgb(0 0 0 / 14%) 0px 2px 18px 0px;
}

.mobilePartnerItem:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 28px -8px rgba(0, 0, 0, 0.215);
  border-color: rgba(2, 92, 17, 0.686);
}

/* Obrazek partnera */
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform var(--transition-default);
}

.partnerItem:hover .logo {
  transform: scale(1.05);
}

.mobilePartnerItem:hover .logo {
  transform: scale(1.03);
}
